/bootstrap/compiled.php
.env.*.php
.env.php
.env

/public/hot
/public/storage
/public/.htaccess
/storage/*.key
/vendor
/.idea
public/js/app.js
public/mix-manifest\.json
_ide_helper\.php

composer.lock
/node_modules
package-lock.json
